* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-size: 3.5rem;
}

.top,
.title {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo_input {
    padding: 5px;
}